# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.jar
*.war
*.ear
spring-shell.log

# H2 Database files
*.db
*.mv.db
*.trace.db
